//- - const { serverURL, visitor, wordLimit, uploadImage, copyright, login, option } = theme.waline
- const { serverURL, option, pageview, login, wordLimit, imageUploader } = theme.waline
- const { lazyload, count, use } = theme.comments

script.
  (() => {
    const initWaline = () => {
      const waline = Waline.init(Object.assign({
        el: '#waline-wrap',
        serverURL: '!{serverURL}',
        pageview: !{lazyload ? false : pageview},
        dark: 'html[data-theme="dark"]',
        path: window.location.pathname,
        comment: !{lazyload ? false : count},
        emoji: [
          'https://cdn.jsdelivr.net/gh/walinejs/emojis@1.0.0/tw-emoji',
          'https://cdn.jsdelivr.net/gh/walinejs/emojis@1.0.0/bilibili',
          'https://cdn.jsdelivr.net/gh/walinejs/emojis@1.0.0/alus',
          'https://cdn.jsdelivr.net/gh/walinejs/emojis@1.0.0/tieba',
          'https://cdn.jsdelivr.net/gh/walinejs/emojis@1.0.0/weibo',
          'https://cdn.jsdelivr.net/gh/walinejs/emojis@1.0.0/qq',
        ],
        login: '!{login}',
        wordLimit: !{wordLimit},
        imageUploader: !{imageUploader},
        search: false,
      }, !{JSON.stringify(option)}))
      document.getElementById("wl-edit").setAttribute("placeholder","ðŸ§è¿™ä¸€ç”Ÿé‡è§ä½ æ˜¯æˆ‘çš„è£å¹¸ðŸ¨\nðŸ¯éšä¾¿å†™å†™å§,è¯´ä¸å®šè¯„è®ºç³»ç»Ÿèƒ½ç”¨å‘¢ðŸŽ‚\nðŸ¥Ÿç¥æ‚¨æœ‰æ„‰å¿«çš„ä¸€å¤©ðŸŸ")
    }

    const loadWaline = async () => {
      if (typeof Waline === 'object') initWaline()
      else {
        await getCSS('!{url_for(theme.asset.waline_css)}')
        await getScript('!{url_for(theme.asset.waline_js)}')
        initWaline()
      }
    }

    if ('!{use[0]}' === 'Waline' || !!{lazyload}) {
      if (!{lazyload}) btf.loadComment(document.getElementById('waline-wrap'),loadWaline)
      else setTimeout(loadWaline, 0)
    } else {
      window.loadOtherComment = loadWaline
    }
  })()
